<div id="Content">
	<div id="components">
		<div class="component-line"> 
			<div id="Motherboard" class="component component-top-left" >
					<center><%= image_tag 'Motherboard.jpg', :class => 'component-title' %></center>
						<center><%= link_to_remote 'Motherboards', :update => 'Main', :url => {:controller => :part_selection, :action => :init, :part_type => "Motherboards"}, :class => "category_name" %></center>
					<p class="component-description">The backbone of the computer. All parts are connected through the motherboard.</p>
					<p class="component-required">Required</p>
			</div>
			<div id="CPU" class="component component-top-middle">
				<% link_to :controller => :part_selection, :action => :cpus do %>
					<center><%= image_tag "CPU.jpg", :class => "component-title" %></center>
					<center><p class="category_name">Processors</p></center>
					<p class="component-description">The central processing unit for the computer. All tasks on the computer are run by this.</p>
					<p class="component-required">Required</p>
				<% end %>
			</div>
			<div id="CPU-Cooler" class="component component-top-middle">
				<% link_to :controller => :part_selection, :action => :coolers do %>
					<center><%= image_tag "Cooler.jpg", :class => "component-title" %></center>
					<center><p class="category_name">Coolers</p></center>
					<p class="component-description">Aftermarket CPU coolers perform much better than stock coolers and increase performance of the CPU.</p>
					<p class="component-required"></p>
				<% end %>
			</div>
			<div id="Disc-Drive" class="component component-top-right">
				<% link_to :controller => :part_selection, :action => :discs do %>
					<center><%= image_tag "DD.jpg", :class => "component-title" %></center>
					<center><p class="category_name">Disc Drives</p></center>
					<p class="component-description">Reads data on discs for the computer and writes information to disc.</p>
					<p class="component-required"></p>
				<% end %>
			</div>
		</div>
		<div class="component-line">
			<div id="Graphics-Card" class="component component-middle-left">
				<% link_to :controller => :part_selection, :action => :gpus do %>
					<center><%= image_tag "Graphics_Card.jpg", :class => "component-title" %></center>
					<center><p class="category_name">Graphics Cards</p></center>
					<p class="component-description">Greatly improves movie, rendering, and game performance on your computer.</p>
					<p class="component-required"></p>
				<% end %>
			</div>
			<div id="Hard-Drive" class="component component-middle">
				<% link_to :controller => :part_selection, :action => :hdds do %>
					<center><%= image_tag "HDD.jpg", :class => "component-title" %></center>
					<center><p class="category_name">Hard Drives</p></center>
					<p class="component-description">Stores all the data for your computer.</p>
					<p class="component-required">Required</p>
				<% end %>
			</div>
			<div id="Power-Supply" class="component component-middle">
				<% link_to :controller => :part_selection, :action => :psus do %>
					<center><%= image_tag "Power_Supply.jpg", :class => "component-title" %></center>
					<center><p class="category_name">Power Supplies</p></center>
					<p class="component-description">Powers each part of your computer. Cannot power more than the specified wattage.</p>
					<p class="component-required">Required</p>
				<% end %>
			</div>
			<div id="Memory" class="component component-middle-right">
				<% link_to :controller => :part_selection, :action => :memory do %>
					<center><%= image_tag "Ram.jpg", :class => "component-title" %></center>
					<center><p class="category_name">Memory</p></center>
					<p class="component-description">Memory acts as a temporary data storage for applications that are running on your computer.</p>
					<p class="component-required">Required</p>
				<% end %>
			</div>
		</div>
		<div class="component-line">
			<div id="Case" class="component component-bottom-left">
				<% link_to :controller => :part_selection, :action => :cases do %>
					<center><%= image_tag "Case.jpg", :class => "component-title" %></center>
					<center><p class="category_name">Cases</p></center>
					<p class="component-description">The case houses all the components of your computer</p>
					<p class="component-required">Required</p>
				<% end %>
			</div>
			<div id="Monitor" class="component component-bottom-middle">
				<% link_to :controller => :part_selection, :action => :displays do %>
					<center><%= image_tag "Display.jpg", :class => "component-title" %></center>
					<center><p class="category_name">Displays</p></center>
					<p class="component-description">The larger the resolution, the more that can be displayed on the screen. Can be paired with other monitor for a multi-display setup.</p>
					<p class="component-required">Required</p>
				<% end %>
			</div>
			<div class="component component-bottom-middle component-empty">
			</div>
			<div class="component component-bottom-right component-empty">
				<p style="margin:1em; font-size:13pt"><span style="color: #71D0CE">*</span><span style="color:white">Required items are needed only if you are making a complete system.</span></p>
			</div>
		</div>
	</div>
</div>
<div id="Selected" class="side_tab">
	<ul id="Selected_options" class="tab_options">
		<li id="Selected_tab" class="tab">
			<center><button class="selected_link tab_link" href="" onclick="$('Selected_parts').toggle()">Selected Parts</button></center>
		</li>
		<li id="Selected_parts" class="side_menu" style="display: none">
			<% if session[:computer].motherboard %>
				<div class="part_in"><p><%= session[:computer].motherboard.manufacturer %></p><p><%= session[:computer].motherboard.model %></p></div><a class="part_option" href="#">Change</a>|<a class="part_option" href="#">Remove</a>
			<% end %>
			<% if session[:computer].cpu %>
			<% end %>
			<% if session[:computer].cpu_cooler %>
			<% end %>
			<% if session[:computer].power_supply %>
			<% end %>
			<% if !session[:computer].has_parts.empty? %>
				<% session[:computer].has_parts.each do |part| %>					
				<% end %>
			<% end %>
		</li>
	</ul>
<div>