<div class="side_tab">
	<ul id="Selected_options" class="tab_options">
		<li id="Selected_tab" class="tab">
			<center><button class="selected_link tab_link" href="" onclick="$('Selected_parts').toggle()">Selected Parts</button></center>
		</li>
		<li id="Selected_parts" class="side_menu" style="display: none">
			<% if session[:computer].motherboard %>
				<div class="part_selected_options">
					<div class="part_in">
						<p class="part_in_info manu"><%= Motherboard.find_by_part_id(session[:computer].motherboard_id).manufacturer %></p>
						<p class="part_in_info"><%= Motherboard.find_by_part_id(session[:computer].motherboard_id).model %></p>
					</div>
					<%= link_to "Change", :controller => :application, :action => :change_part, :change => "Motherboards" %>
					<span>|</span>
					<%= link_to "Remove", :controller => :application, :action => :remove_part, :part_id => session[:computer].motherboard_id %>
				</div>
			<% end %>
			<% if session[:computer].cpu %>
				<div class="part_selected_options">
					<div class="part_in">
						<p class="part_in_info manu"><%= Cpu.find_by_part_id(session[:computer].cpu_id).manufacturer %></p>
						<p class="part_in_info"><%=Cpu.find_by_part_id(session[:computer].cpu_id).series %></p>
						<p class="part_in_info"><%= Cpu.find_by_part_id(session[:computer].cpu_id).model %></p>
					</div>
					<%= link_to "Change", :controller => :application, :action => :change_part, :change => "Processors" %>
					<span>|</span>
					<%= link_to "Remove", :controller => :application, :action => :remove_part, :part_id => session[:computer].cpu_id %>
				</div>
			<% end %>
			<% if session[:computer].cpu_cooler %>
			    <div class="part_selected_options">
					<div class="part_in">
						<p class="part_in_info manu"><%= CpuCooler.find_by_part_id(session[:computer].cpu_cooler_id).manufacturer %></p>
						<p class="part_in_info"><%= CpuCooler.find_by_part_id(session[:computer].cpu_cooler_id).model %></p>
					</div>
					<%= link_to "Change", :controller => :application, :action => :change_part, :change => "CPU Coolers" %>
					<span>|</span>
					<%= link_to "Remove", :controller => :application, :action => :remove_part, :part_id => session[:computer].cpu_cooler_id %>
				</div>
			<% end %>
			<% if session[:computer].power_supply %>
				<div class="part_selected_options">
					<div class="part_in">
						<p class="part_in_info manu"><%= PowerSupply.find_by_part_id(session[:computer].power_supply_id).manufacturer %></p>
						<p class="part_in_info"><%= PowerSupply.find_by_part_id(session[:computer].power_supply_id).model %></p>
					</div>
					<%= link_to "Change", :controller => :application, :action => :change_part, :change => "Power Supplies" %>
					<span>|</span>
					<%= link_to "Remove", :controller => :application, :action => :remove_part, :part_id => session[:computer].power_supply_id %>
				</div>
			<% end %>
			<% if session[:computer].case_id %>
			<% end %>
			<% !if session[:computer].has_parts.empty? %>
				<% session[:computer].has_parts.each do |part| %>
				<% end %>
			<% end %>
		</li>
	</ul>
<div>