<div class="part">
	<div class="always_visibile">
		<div class="part_info">
			<p class="first_row beginning"><%= caseObj.manufacturer %></p><p class="first_row"><%= caseObj.model %></p><p class="price">$<%= caseObj.price %></p>
			<p class="second_row beginning">Case Type: <%= caseObj.casetype %></p><p class="second_row">HDD Bays: <%= caseObj.hddbays %></p><p class="second_row">Disc Bays: <%= caseObj.discbays %></p>
		</div>
		<div class="add">
			<center><%= link_to_remote "Add", :update => 'Main', :url => {:controller => :part_selection, :action => :add_part, :id => caseObj.part_id} %></center>
		</div>
	</div>
	<div id="specs<%= num %>" class="part_specs" style="display: none">
		<p>Manufacturer Website: <%= caseObj.manufacturerwebsite %></p>
		<p>Series: <%= caseObj.series %></p>
		<p>Google Price: <%= caseObj.googleprice %></p>
		<p>Total Bays: <%= caseObj.totalbays %></p>
		<p>Conversion Bays: <%= caseObj.conversionbays %></p>
		<p>SSD Bays: <%= caseObj.ssdbays %></p>
		<p>Expansion Slots: <%= caseObj.expansionslots %></p>
		<p>Length: <%= caseObj.length %></p>
		<p>Width: <%= caseObj.width %></p>
		<p>Height: <%= caseObj.height %></p>
		<p>Max Cooler Height: <%= caseObj.maxcoolerheight %></p>
		<p>Max GPU Length: <%= caseObj.maxgpulength %></p>
	</div>
	<div class="show_specs">
		<center><button class="arrow_button" onclick="$('specs<%= num %>').toggle()"></button></center>
	</div>
</div>
