<div class="part">
	<div class="always_visibile">
		<div class="part_info">
			<p class="first_row beginning"><%= cpu_coolerObj.manufacturer %></p><p class="first_row"><%= cpu_coolerObj.model %></p><p class="price">$<%= cpu_coolerObj.price %></p>
			<p class="second_row beginning">Max Memory Height: <%= cpu_coolerObj.maxmemheight %></p><p class="second_row">Height: <%= cpu_coolerObj.height %></p><p class="second_row">Width: <%= cpu_coolerObj.width %></p><p class="second_row">Length: <%= cpu_coolerObj.length %></p>
		</div>
		<div class="add">
			<center><%= link_to_remote "Add", :update => 'Main', :url => {:controller => :part_selection, :action => :add_part, :id => cpu_coolerObj.part_id} %></center>
		</div>
	</div>
	<div id="specs<%= num %>" class="part_specs" style="display: none">
		<p>Part Type: <%= cpu_coolerObj.parttype %></p>
		<p>Part Manufacturer Website: <%= cpu_coolerObj.manufacturerwebsite %></p>
		<p>Google Price: <%= cpu_coolerObj.googleprice %></p>
	</div>
	<div class="show_specs">
		<center><button class="arrow_button" onclick="$('specs<%= num %>').toggle()"></button></center>
	</div>
</div>