<div class="part" <% if makeChange.to_i == coolerObj.part_id %> style="background: #268358;" <% end %> >
	<div class="always_visibile">
		<div class="part_info">
			<p class="first_row beginning"><%= coolerObj.manufacturer %></p>
			<p class="first_row"><%= coolerObj.model %></p>
			<p class="price">$<%= coolerObj.price %></p>
			<% if coolerObj.maxmemheight %>
			    <p class="second_row beginning">Max Memory Height: <%= coolerObj.maxmemheight %></p>
		    <% end %>
			<p class="second_row beginning">Height: <%= coolerObj.height %>mm</p>
			<p class="second_row">Width: <%= coolerObj.width %>mm</p>
			<p class="second_row">Length: <%= coolerObj.length %>mm</p>
		</div>
		<div class="add">
		    <% if makeChange && makeChange.to_i != coolerObj.part_id%>
			    <center><%= link_to "Sub", :controller => :part_selection, :action => :add_part, :id => coolerObj.part_id, :didChange => makeChange %></center>
			<% elsif !makeChange %>
			    <center><%= link_to "Add", :controller => :part_selection, :action => :add_part, :id => coolerObj.part_id, :didChange => makeChange %></center>
		    <% end %>
		</div>
	</div>
	<div id="specs<%= num %>" class="part_specs" style="display: none">
	    <% @count = 0 %>
		<% @sockets = "" %>
		<% coolerObj.cpu_cooler_sockets.each do |cooler_socket| %>
		    <% if @count == 0 %>
			    <% @sockets += cooler_socket.sockettype %>
			<% else %>
			    <% @sockets += ", #{cooler_socket.sockettype}" %>
			<% end %>
			<% @count += 1 %>
		<% end %>
		<p>Supported Sockets: <%= @sockets %></p>
		<p>Part Manufacturer Website: <a href="<%= coolerObj.manufacturerwebsite %>" target="_blank"><%= coolerObj.manufacturer %> <%= coolerObj.model %></a></p>
		<p>Google Price: <a href="<%= coolerObj.googleprice %>" target="_blank">Shopping Results</a></p>
	</div>
	<div class="show_specs">
		<center>
		    <button id="arrow<%= num %>" class="arrow_button" onclick="getSpecs('specs<%= num %>', 'arrow<%= num %>', 'Left_span<%= num %>')">
			    <span id="Left_span<%= num %>" style="color: white; font-size: small">Show</span>
				<span id="Right_span" style="color: white; font-size: small">Specs</span>
			</button>
		</center>
	</div>
</div>