<div class="part">
	<div class="always_visibile">
		<div class="part_info">
			<p class="first_row beginning"><%= gpuObj.manufacturer %></p>
			<% if gpuObj.series != "nil" %>
			    <p class="first_row"><%= gpuObj.series %></p>
			<% end %>
			<p class="first_row"><%= gpuObj.model %></p>
			<p class="price">$<%= gpuObj.price %></p>
		    <p class="second_row beginning">Chip Manufacturer: <%= gpuObj.chipmanufacturer %></p>
		    <p class="second_row">GPU: <%= gpuObj.gpu %></p>
		    <p class="second_row">Core Clock: <%= gpuObj.coreclock %>MHz</p>
		</div>
		<div class="add">
			<center><%= link_to "Add", :controller => :part_selection, :action => :add_part, :id => gpuObj.part_id %></center>
		</div>
	</div>
	<div id="specs<%= num %>" class="part_specs" style="display: none">
	    <div class="col">
			<p>Interface: <%= gpuObj.interface %></p>
			<% if gpuObj.shaderclock %>
				<p>Shader Clock: <%= gpuObj.shaderclock %></p>
			<% end %>
			<p>Memory Clock: <%= gpuObj.memoryclock %></p>
			<p>Memory Size: <%= gpuObj.memorysize %>GB</p>
			<p>Memory Type: <%= gpuObj.memorytype %></p>
			<p>Direct X: <%= gpuObj.directx %></p>
			<p>Width: <%= gpuObj.width %></p>
			<p>Lengh: <%= gpuObj.length %></p>
		</div>
		<div class="col">
			<p>Multi GPU Support: <%= gpuObj.multigpusupport %></p>
			<p>Max Resolution: <%= gpuObj.maxresolution %></p>
			<p>HDMI: <%= gpuObj.hdmi %></p>
			<p>DVI: <%= gpuObj.dvi %></p>
			<p>Display Port: <%= gpuObj.displayport %></p>
			<p>VGA: <%= gpuObj.vga %></p>
			<p>S Video: <%= gpuObj.svideo %></p>
		</div>
		<div class="col">
			<p>Minimum Power: <%= gpuObj.minpower %></p>
			<p>Multi GPU Power: <%= gpuObj.multigpupower %></p>
			<p>Power 6-Pin: <%= gpuObj.power6pin %></p>
			<p>Power 8-Pin: <%= gpuObj.power8pin %></p>
			<p>Manufacturer Website: <a href="<%= gpuObj.manufacturerwebsite %>" target="_blank"><%= gpuObj.manufacturer %></a></p>
			<p>Google Price: <a href="<%= gpuObj.googleprice %>" target="_blank">Google Shopping Results</a></p>
		</div>
	</div>
	<div class="show_specs">
		<center><button class="arrow_button" onclick="$('specs<%= num %>').toggle()"></button></center>
	</div>
</div>