<div class="part">
	<div class="always_visibile">
		<div class="part_info">
			<p class="first_row beginning"><%= gpuObj.manufacturer %></p><p class="first_row"><%= gpuObj.model %></p><p class="price">$<%= gpuObj.price %></p>
			<p class="second_row beginning">Interface: <%= gpuObj.interface %></p><p class="second_row">Memory Size: <%= gpuObj.memorysize %></p><p class="second_row">Memory Type: <%= gpuObj.memorytype %></p>
		</div>
		<div class="add">
			<center><%= link_to_remote "Add", :update => 'Main', :url => {:controller => :part_selection, :action => :add_part, :id => gpuObj.part_id} %></center>
		</div>
	</div>
	<div id="specs<%= num %>" class="part_specs" style="display: none">
		<p>Part Type: <%= gpuObj.parttype %></p>
		<p>Series: <%= gpuObj.series %></p>
		<p>Core Clock: <%= gpuObj.coreclock %></p>
		<p>Shader Clock: <%= gpuObj.shaderclock %></p>
		<p>Memory Clock: <%= gpuObj.memoryclock %></p>
		<p>Direct X: <%= gpuObj.directx %></p>
		<p>Width: <%= gpuObj.width %></p>
		<p>Lengh: <%= gpuObj.length %></p>
		<p>Chip Manufacturer: <%= gpuObj.chipmanufacturer %></p>
		<p>GPU: <%= gpuObj.gpu %></p>
		<p>Multi GPU Support: <%= gpuObj.multigpusupport %></p>
		<p>Max Resolution: <%= gpuObj.maxresolution %></p>
		<p>HDMI: <%= gpuObj.hdmi %></p>
		<p>DVI: <%= gpuObj.dvi %></p>
		<p>Display Port: <%= gpuObj.displayport %></p>
		<p>VGA: <%= gpuObj.vga %></p>
		<p>S Video: <%= gpuObj.svideo %></p>
		<p>Minimum Power: <%= gpuObj.minpower %></p>
		<p>Multi GPU Power: <%= gpuObj.multigpupower %></p>
		<p>Power 6-Pin: <%= gpuObj.power6pin %></p>
		<p>Power 8-Pin: <%= gpuObj.power8pin %></p>
		<p>Manufacturer Website: <%= gpuObj.manufacturerwebsite %></p>
		<p>Google Price: <%= gpuObj.googleprice %></p>
	</div>
	<div class="show_specs">
		<center><button class="arrow_button" onclick="$('specs<%= num %>').toggle()"></button></center>
	</div>
</div>