<div class="part">
	<div class="always_visibile">
		<div class="part_info">
			<p class="first_row beginning"><%= gpuObj.manufacturer %></p>
			<% if gpuObj.series != "nil" %>
			    <p class="first_row"><%= gpuObj.series %></p>
			<% end %>
			<p class="first_row"><%= gpuObj.model %></p>
			<p class="price">$<%= gpuObj.price %></p>
		    <p class="second_row beginning">Chip Manufacturer: <%= gpuObj.chipmanufacturer %></p>
		    <p class="second_row">GPU: <%= gpuObj.gpu %></p>
		    <p class="second_row">Core Clock: <%= gpuObj.coreclock %>MHz</p>
		</div>
		<div class="add">
		    <% if error_case %>
			    <center><button href="" onclick="alert('<%= error_case %>');">Add</button></center>
			<% else %>
			    <center><%= link_to "Add", :controller => :part_selection, :action => :add_part, :id => gpuObj.part_id, :didChange => makeChange %></center>
			<% end %>
		</div>
	</div>
	<div id="specs<%= num %>" class="part_specs" style="display: none">
	    <div class="col">
			<p>Interface: <%= gpuObj.interface %></p>
			<% if gpuObj.shaderclock %>
				<p>Shader Clock: <%= gpuObj.shaderclock %>MHz</p>
			<% end %>
			<p>Memory Clock: <%= gpuObj.memoryclock %>MHz</p>
			<p>Memory Size: <%= gpuObj.memorysize %>GB</p>
			<p>Memory Type: <%= gpuObj.memorytype %></p>
			<p>Direct X: <%= gpuObj.directx %></p>
			<p>Width: <%= gpuObj.width %> slot</p>
		</div>
		<div class="col">
			<p>Lengh: <%= gpuObj.length %>mm</p>
		    <% if gpuObj.chipmanufacturer == "ATI" %>
			    <p>Crossfire Bridges: <%= gpuObj.multigpusupport %></p>
			<% else %>
			    <p>SLI Bridges: <%= gpuObj.multigpusupport %></p>
			<% end %>
			<p>Max Resolution: <%= gpuObj.maxresolution %></p>
			<% if gpuObj.hdmi > 0 %>
			    <p>HDMI Ports: <%= gpuObj.hdmi %></p>
			<% end %>
			<% if gpuObj.dvi > 0 %>
			    <p>DVI Ports: <%= gpuObj.dvi %></p>
			<% end %>
			<% if gpuObj.displayport > 0 %>
			    <p>Display Port Ports: <%= gpuObj.displayport %></p>
			<% end %>
			<% if gpuObj.vga > 0 %>
			    <p>VGA Ports: <%= gpuObj.vga %></p>
			<% end %>
			<% if gpuObj.svideo > 0 %>
			    <p>S Video Ports: <%= gpuObj.svideo %></p>
			<% end %>
		</div>
		<div class="col">
			<p>Minimum Power: <%= gpuObj.minpower %>W</p>
			<p>Multi GPU Power: <%= gpuObj.multigpupower %>W</p>
			<p>Power 6-Pin: <%= gpuObj.power6pin %></p>
			<p>Power 8-Pin: <%= gpuObj.power8pin %></p>
			<p>Manufacturer Website: <a href="<%= gpuObj.manufacturerwebsite %>" target="_blank"><%= gpuObj.manufacturer %></a></p>
			<p>Google Price: <a href="<%= gpuObj.googleprice %>" target="_blank">Shopping Results</a></p>
		</div>
	</div>
	<div class="show_specs">
		<center><button class="arrow_button" onclick="$('specs<%= num %>').toggle()"></button></center>
	</div>
</div>