<div class="part">
	<div class="always_visibile">
		<div class="part_info">
			<p class="first_row beginning"><%= hddObj.manufacturer %></p>
			<% if hddObj.series != "nil" %>
		        <p class="first_row"><%= hddObj.series %></p>
			<% end %>
			<p class="first_row"><%= hddObj.model %></p>
			<p class="price">$<%= hddObj.price %></p>
			<% if hddObj.capacity < 10 %>
			    <p class="second_row beginning">Capacity: <%= hddObj.capacity %>TB</p>
			<% else %>
			    <p class="second_row beginning">Capacity: <%= hddObj.capacity %>GB</p>
			<% end %>
			<p class="second_row">RPM: <%= hddObj.rpm %></p>
			<p class="second_row">Interface: <%= hddObj.interface %></p>
		</div>
		<div class="add">
			<center><%= link_to "Add", :controller => :part_selection, :action => :add_part, :id => hddObj.part_id, :didChange => makeChange %></center>
		</div>
	</div>
	<div id="specs<%= num %>" class="part_specs" style="display: none">
	    <div class="col">
			<% if hddObj.cache %>
				<p>Cache: <%= hddObj.cache %>MB</p>
			<% end %>
		</div>
	    <div class="col">
			<p>Manufacturer Website: <a href="<%= hddObj.manufacturerwebsite %>" target="_blank"><%= hddObj.manufacturer %> <%= hddObj.model %></a></p>
		</div>
	    <div class="col">
			<p>Google Price: <a href="<%= hddObj.googleprice %>" target="_blank">Shopping Results</a></p>
		</div>
	</div>
	<div class="show_specs">
		<center>
		    <button id="arrow<%= num %>" class="arrow_button" onclick="getSpecs('specs<%= num %>', 'arrow<%= num %>', 'Left_span<%= num %>')">
			    <span id="Left_span<%= num %>" style="color: white; font-size: small">Show</span>
				<span id="Right_span" style="color: white; font-size: small">Specs</span>
			</button>
		</center>
	</div>
</div>