<div class="part">
	<div class="always_visibile">
		<div class="part_info">
			<p class="first_row beginning"><%= moboObj.manufacturer %></p><p class="first_row"><%= moboObj.model %></p><p class="price">$<%= moboObj.price %></p>
			<p class="second_row beginning">Memorytype: <%= moboObj.memorytype %></p><p class="second_row">Sockettype: <%= moboObj.sockettype %></p><p class="second_row">Size: <%= moboObj.size %></p>
		</div>
		<div class="add">
			<center><%= link_to_remote "Add", :update => 'Main', :url => {:controller => :part_selection, :action => :add_part, :id => moboObj.part_id} %></center>
		</div>
	</div>
	<div id="specs<%= num %>" class="part_specs" style="display: none">
		
	</div>
	<div class="show_specs">
		<center><button class="arrow_button" onclick="$('specs<%= num %>').toggle()"></button></center>
	</div>
</div>