<div class="part">
	<div class="always_visibile">
		<div class="part_info">
			<p class="first_row beginning"><%= psuObj.manufacturer %></p><p class="first_row"><%= psuObj.model %></p><p class="price">$<%= psuObj.price %></p>
			<p class="second_row beginning">Power: <%= psuObj.poweroutput %></p><p class="second_row">Main Power: <%= psuObj.mainpower %></p><p class="second_row">SATA Power: <%= psuObj.satapower %></p>
		</div>
		<div class="add">
			<center><%= link_to_remote "Add", :update => 'Main', :url => {:controller => :part_selection, :action => :add_part, :id => psuObj.part_id} %></center>
		</div>
	</div>
	<div id="specs<%= num %>" class="part_specs" style="display: none">
		<p>Manufacturer Website: <%= psuObj.manufacturerwebsite %></p>
		<p>Google Price: <%= psuObj.googleprice %></p>
		<p>Series: <%= psuObj.series %></p>
		<p>Fan Size: <%= psuObj.fansize %></p>
		<p>Multi GPU: <%= psuObj.multi_gpu %></p>
		<p>Peripherals: <%= psuObj.peripheral %></p>
		<p>Energy Certification: <%= psuObj.energycert %></p>
		<p>Power Supply Type: <%= psuObj.power_supply_type %></p>
		<p>CPU4 4-Pin: <%= psuObj.cpu4_4pin %></p>
		<p>CPU 4-Pin: <%= psuObj.cpu4pin %></p>
		<p>CPU 8-Pin: <%= psuObj.cpu8pin %></p>
		<p>GPU 8-Pin: <%= psuObj.gpu8pin %></p>
		<p>GPU 6-Pin: <%= psuObj.gpu6pin %></p>
		<p>GPU6 2-Pin: <%= psuObj.gpu6_2pin %></p>
		<p>Length: <%= psuObj.length %></p>
	</div>
	<div class="show_specs">
		<center><button class="arrow_button" onclick="$('specs<%= num %>').toggle()"></button></center>
	</div>
</div>
