<div class="part" <% if makeChange.to_i == psuObj.part_id %> style="background: #268358;" <% end %> >
	<div class="always_visibile">
		<div class="part_info">
			<p class="first_row beginning"><%= psuObj.manufacturer %></p>
		    <p class="first_row"><%= psuObj.series %></p>
			<p class="first_row"><%= psuObj.model %></p>
			<p class="price">$<%= psuObj.price %></p>
			<p class="second_row beginning">Power: <%= psuObj.poweroutput %>W</p>
			<% if psuObj.energycert %>
		        <p class="second_row">Energy Certification: <%= psuObj.energycert %></p>
			<% end %>
		    <p class="second_row" style="margin-right: 0;">Multi GPU Ready: <%= psuObj.multi_gpu %></p>
		</div>
		<div class="add">
		    <% if makeChange && makeChange.to_i != psuObj.part_id%>
				<center><%= link_to "Sub", :controller => :part_selection, :action => :add_part, :id => psuObj.part_id, :didChange => makeChange %></center>
			<% elsif !makeChange %>
				<center><%= link_to "Add", :controller => :part_selection, :action => :add_part, :id => psuObj.part_id, :didChange => makeChange %></center>
			<% end %>
		</div>
	</div>
	<div id="specs<%= num %>" class="part_specs" style="display: none">
	    <div class="col">
		    <p>Fan Size: <%= psuObj.fansize %>mm</p>
			<p>SATA Power: <%= psuObj.satapower %></p>
		    <p>Peripherals: <%= psuObj.peripheral %></p>
		    <p>Length: <%= psuObj.length %>mm</p>
		</div>
	    <div class="col">
			<p>Power Supply Type: <%= psuObj.power_supply_type %></p>
			<p>Manufacturer Website: <a href="<%= psuObj.manufacturerwebsite %>" target="_blank"><%= psuObj.manufacturer %> <%= psuObj.model %></a></p>
			<p>Google Price: <a href="<%= psuObj.googleprice %>" target="_blank">Google Shopping Results</a></p>
		</div>
	    <div class="col">
		    <% if psuObj.cpu4_4pin > 0 %>
			    <p>CPU 4+4-Pin: <%= psuObj.cpu4_4pin %></p>
			<% end %>
		    <% if psuObj.gpu6_2pin > 0 %>
			    <p>GPU 6+2-Pin: <%= psuObj.gpu6_2pin %></p>
			<% end %>
		    <% if psuObj.cpu4pin > 0 %>
			    <p>CPU 4-Pin: <%= psuObj.cpu4pin %></p>
			<% end %>
		    <% if psuObj.cpu8pin > 0 %>
			    <p>CPU 8-Pin: <%= psuObj.cpu8pin %></p>
			<% end %>
		    <% if psuObj.gpu8pin > 0 %>
			    <p>GPU 8-Pin: <%= psuObj.gpu8pin %></p>
			<% end %>
		    <% if psuObj.gpu6pin > 0 %>
			    <p>GPU 6-Pin: <%= psuObj.gpu6pin %></p>
			<% end %>
		</div>
	</div>
	<div class="show_specs">
		<center>
		    <button id="arrow<%= num %>" class="arrow_button" onclick="getSpecs('specs<%= num %>', 'arrow<%= num %>', 'Left_span<%= num %>')">
			    <span id="Left_span<%= num %>" style="color: white; font-size: small">Show</span>
				<span id="Right_span" style="color: white; font-size: small">Specs</span>
			</button>
		</center>
	</div>
</div>
