<div class="part" <% if makeChange.to_i == cpuObj.part_id %> style="background: #268358;" <% end %> >
	<div class="always_visibile">
		<div class="part_info">
		    <p class="first_row beginning"><%= cpuObj.manufacturer %></p>
		    <% if cpuObj.series %>
			    <p class="first_row"><%= cpuObj.series %></p>
			<% end %>
			<p class="first_row"><%= cpuObj.model %></p>
			<p class="price">$<%= cpuObj.price %></p>
			<p class="second_row beginning">Frequency: <%= cpuObj.frequency %>GHz</p>
			<p class="second_row">Cores: <%= cpuObj.cores %></p>
			<p class="second_row">Socket Type: <%= cpuObj.sockettype %></p>
		</div>
		<div class="add">
		    <% if makeChange && makeChange.to_i != cpuObj.part_id%>
				<center><%= link_to "Sub", :controller => :part_selection, :action => :add_part, :id => cpuObj.part_id, :didChange => makeChange %></center>
			<% elsif !makeChange %>
				<center><%= link_to "Add", :controller => :part_selection, :action => :add_part, :id => cpuObj.part_id, :didChange => makeChange %></center>
			<% end %>
		</div>
	</div>
	<div id="specs<%= num %>" class="part_specs" style="display: none">
		<div class="col">
			<% if cpuObj.fsb < 10 %>
				<p>FSB: <%= cpuObj.fsb %> GT/s</p>
			<% else %>		    
				<p>FSB: <%= cpuObj.fsb %> MT/s</p>
			<% end %>
			<p>Watts: <%= cpuObj.watts %></p>
			<% if cpuObj.maxmemory %>
				<p>Max Memory: <%= cpuObj.maxmemory %>GB</p>
			<% end %>
		</div>
		<div class="col">
			<p>Manufacturer Website: <a href="<%= cpuObj.manufacturerwebsite %>" target="_blank"><%= cpuObj.manufacturer %> <%= cpuObj.model %></a></p>
			<p>Google Price: <a href="<%= cpuObj.googleprice %>" target="_blank">Shopping Results</a></p>
			<% if cpuObj.memchanneltype %>
				<p>Memory Channel Type: <%= cpuObj.memchanneltype %></p>
			<% end %>
		</div>
		<div class="col">
			<% if cpuObj.l1cache != 0%>
				<p>L1 Cache: <%= cpuObj.l1cache %>KB</p>
			<% end %>
			<% if cpuObj.l2cache %>
				<p>L2 Cache: <%= cpuObj.l2cache %>MB</p>
			<% end %>
			<% if cpuObj.l3cache %>
				<p>L3 Cache: <%= cpuObj.l3cache %>MB</p>
			<% end %>
		</div>
	</div>
	<div class="show_specs">
		<center>
		    <button id="arrow<%= num %>" class="arrow_button" onclick="getSpecs('specs<%= num %>', 'arrow<%= num %>', 'Left_span<%= num %>')">
			    <span id="Left_span<%= num %>" style="color: white; font-size: small">Show</span>
				<span id="Right_span" style="color: white; font-size: small">Specs</span>
			</button>
		</center>
	</div>
</div>