<div class="part">
	<div class="always_visibile">
		<div class="part_info">
			<p class="first_row beginning"><%= cpuObj.manufacturer %></p><p class="first_row"><%= cpuObj.model %></p><p class="price">$<%= cpuObj.price %></p>
			<p class="second_row beginning">Frequency: <%= cpuObj.frequency %></p><p class="second_row">Cores: <%= cpuObj.cores %></p><p class="second_row">Socket Type: <%= cpuObj.sockettype %></p>
		</div>
		<div class="add">
			<center><%= link_to_remote "Add", :update => 'Main', :url => {:controller => :part_selection, :action => :add_part, :id => cpuObj.part_id} %></center>
		</div>
	</div>
	<div id="specs<%= num %>" class="part_specs" style="display: none">
		<p>Part Type: <%= cpuObj.parttype %></p>
		<p>Series: <%= cpuObj.series %></p>
		<p>Manufacturer Website: <%= cpuObj.manufacturerwebsite %></p>
		<p>Google Price: <%= cpuObj.googleprice %></p>
		<p>FSB: <%= cpuObj.fsb %></p>
		<p>L1 Cache: <%= cpuObj.l1cache %></p>
		<p>L2 Cache: <%= cpuObj.l2cache %></p>
		<p>L3 Cache: <%= cpuObj.l3cache %></p>
		<p>Watts: <%= cpuObj.watts %></p>
		<p>Power Pin: <%= cpuObj.powerpin %></p>
		<p>Max Memory: <%= cpuObj.maxmemory %></p>
		<p>Memory Channel Type: <%= cpuObj.memchanneltype %></p>
	</div>
	<div class="show_specs">
		<center><button class="arrow_button" onclick="$('specs<%= num %>').toggle()"></button></center>
	</div>
</div>