<div class="side_tab">
	<ul id="Selected_options" class="tab_options">
		<li id="Selected_tab" class="tab">
			<center><button class="selected_link tab_link" href="" onclick="$('Selected_parts').toggle()">Selected Parts</button></center>
		</li>
		<li id="Selected_parts" class="side_menu" style="display: none">
		    <% if session[:computer].name %>
			    <center><h3 class="selected_header"><%= session[:computer].name %></h3></center>
			<% else %>
			    <center><h3 class="selected_header">Custom Computer</h3></center>
			<% end %>
			<% if comp_mobo %>
				<div class="part_selected_options">
					<div class="part_in">
						<p class="part_in_info manu"><%= comp_mobo.manufacturer %></p>
						<p class="part_in_info"><%= comp_mobo.model %></p>
					</div>
					<%= link_to "Change", :controller => :application, :action => :change_part, :change => "Motherboards", :part_id => session[:computer].motherboard_id %>
					<span>|</span>
					<%= link_to "Remove", :controller => :application, :action => :remove_part, :part_id => session[:computer].motherboard_id %>
				</div>
			<% end %>
			<% if comp_cpu %>
				<div class="part_selected_options">
					<div class="part_in">
						<p class="part_in_info manu"><%= comp_cpu.manufacturer %></p>
						<% if comp_cpu.series != "nil" %>
						    <p class="part_in_info"><%= comp_cpu.series %></p>
						<% end %>
						<p class="part_in_info"><%= comp_cpu.model %></p>
					</div>
					<%= link_to "Change", :controller => :application, :action => :change_part, :change => "Processors", :part_id => session[:computer].cpu_id %>
					<span>|</span>
					<%= link_to "Remove", :controller => :application, :action => :remove_part, :part_id => session[:computer].cpu_id %>
				</div>
			<% end %>
			<% if comp_cooler %>
			    <div class="part_selected_options">
					<div class="part_in">
						<p class="part_in_info manu"><%= comp_cooler.manufacturer %></p>
						<p class="part_in_info"><%= comp_cooler.model %></p>
					</div>
					<%= link_to "Change", :controller => :application, :action => :change_part, :change => "CPU Coolers", :part_id => session[:computer].cpu_cooler_id %>
					<span>|</span>
					<%= link_to "Remove", :controller => :application, :action => :remove_part, :part_id => session[:computer].cpu_cooler_id %>
				</div>
			<% end %>
			<% if comp_power %>
				<div class="part_selected_options">
					<div class="part_in">
						<p class="part_in_info manu"><%= comp_power.manufacturer %></p>
						<p class="part_in_info"><%= comp_power.model %></p>
					</div>
					<%= link_to "Change", :controller => :application, :action => :change_part, :change => "Power Supplies", :part_id => session[:computer].power_supply_id %>
					<span>|</span>
					<%= link_to "Remove", :controller => :application, :action => :remove_part, :part_id => session[:computer].power_supply_id %>
				</div>
			<% end %>
			<% if comp_case %>
			    <div class="part_selected_options">
					<div class="part_in">
						<p class="part_in_info manu"><%= comp_case.manufacturer %></p>
						<% if comp_case.series != "nil" %>
						    <p class="part_in_info"><%= comp_case.series %></p>
						<% end %>
						<p class="part_in_info"><%= comp_case.model %></p>
					</div>
					<%= link_to "Change", :controller => :application, :action => :change_part, :change => "Cases", :part_id => session[:computer].case_id %>
					<span>|</span>
					<%= link_to "Remove", :controller => :application, :action => :remove_part, :part_id => session[:computer].case_id %>
				</div>
			<% end %>
			<% if !session[:computer].other_parts.empty? %>
				<% session[:computer].other_parts.each do |part| %>
				    <% if part[1] == "Graphics Card" %>
					    <% @dbPart = GraphicsCard.find_by_part_id(part[0]) %>
						<div class="part_selected_options">
							<div class="part_in">
								<p class="part_in_info manu"><%= @dbPart.manufacturer %></p>
								<% if @dbPart.series != "nil" %>
								    <p class="part_in_info"><%= @dbPart.series %></p>
								<% end %>
								<p class="part_in_info"><%= @dbPart.model %></p>
							</div>
							<%= link_to "Change", :controller => :application, :action => :change_part, :change => "Graphics Cards", :part_id => part[0] %>
							<span>|</span>
							<%= link_to "Remove", :controller => :application, :action => :remove_part, :part_id => part[0] %>
						</div>
					<% elsif part[1] == "Hard Drive" %>
					    <% @dbPart = HardDrife.find_by_part_id(part[0]) %>
						<div class="part_selected_options">
							<div class="part_in">
								<p class="part_in_info manu"><%= @dbPart.manufacturer %></p>
								<% if @dbPart.series != "nil" %>
								    <p class="part_in_info"><%= @dbPart.series %></p>
								<% end %>
								<p class="part_in_info"><%= @dbPart.model %></p>
							</div>
							<%= link_to "Change", :controller => :application, :action => :change_part, :change => "Hard Drives", :part_id => part[0] %>
							<span>|</span>
							<%= link_to "Remove", :controller => :application, :action => :remove_part, :part_id => part[0] %>
						</div>
					<% elsif part[1] == "Display" %>
					    <% @dbPart = Display.find_by_part_id(part[0]) %>
						<div class="part_selected_options">
							<div class="part_in">
								<p class="part_in_info manu"><%= @dbPart.manufacturer %></p>
								<p class="part_in_info"><%= @dbPart.model %></p>
							</div>
							<%= link_to "Change", :controller => :application, :action => :change_part, :change => "Displays", :part_id => part[0] %>
							<span>|</span>
							<%= link_to "Remove", :controller => :application, :action => :remove_part, :part_id => part[0] %>
						</div>
					<% elsif part[1] == "Disc Drive" %>
					    <% @dbPart = DiscDrife.find_by_part_id(part[0]) %>
						<div class="part_selected_options">
							<div class="part_in">
								<p class="part_in_info manu"><%= @dbPart.manufacturer %></p>
								<p class="part_in_info"><%= @dbPart.model %></p>
							</div>
							<%= link_to "Change", :controller => :application, :action => :change_part, :change => "Disc Drives", :part_id => part[0] %>
							<span>|</span>
							<%= link_to "Remove", :controller => :application, :action => :remove_part, :part_id => part[0] %>
						</div>
					<% else %>
					    <% @dbPart = Memory.find_by_part_id(part[0]) %>
						<div class="part_selected_options">
							<div class="part_in">
								<p class="part_in_info manu"><%= @dbPart.manufacturer %></p>
								<% if @dbPart.series != "nil" %>
								    <p class="part_in_info"><%= @dbPart.series %></p>
								<% end %>
								<p class="part_in_info"><%= @dbPart.model %></p>
							</div>
							<%= link_to "Change", :controller => :application, :action => :change_part, :change => "Memory", :part_id => part[0] %>
							<span>|</span>
							<%= link_to "Remove", :controller => :application, :action => :remove_part, :part_id => part[0] %>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</li>
	</ul>
	<ul id="Comp_price" class="tab_options">
		<li class="price_tab">
		    <h4>Price</h4>
			<p>$<%= session[:computer].price %></p>
		</li>
	</ul>
<div>