<div id="Main">
	<div class="side_tab">
		<ul id="Sort_options" class="tab_options">
			<li id="Sort_tab" class="tab">
				<center><a class="sort_link tab_link" href="#">Sort Options</a></center>
			</li>
		</ul>
	</div>
	<div id="Back_cats">
		<center><%= link_to "Back to Categories", :controller => :part_categories, :action => :current %></center>
	</div>
	<div id="Content">
		<div id="Parts">
			<div id="Part_nav">
			    <%= link_to_remote "Prev", :controller => :part_selection, :action => :previous %>
				<div id="Header">
					<h1 id="Part_heading" align="center"><%= session[:part_type] %></h1>
				</div>
				<%= link_to "Next", :controller => :part_selection, :action => :next %>
			</div>
			<div id="Parts_list">
				<% if session[:page_num] == 1 %>
				    <% if @parts.length < 10 %>
					    <% for i in (0..(@parts.length-1)) do %>
							<% if session[:part_type] == "Motherboards" %>
								<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
							<% elsif session[:part_type] == "Processors" %>
								<%= render :partial => "processor", :locals => {:cpuObj => @parts[i], :num => i} %>
							<% elsif session[:part_type] == "CPU Coolers" %>
							    <% if @parts == nil %><%= render :partial => "OMFG" %><% end %>
								<%= render :partial => "coolers", :locals => {:coolerObj => @parts[i], :num => i} %>
							<% elsif session[:part_type] == "Disc Drives" %>
								<%= render :partial => "optical", :locals => {:moboObj => @parts[i], :num => i} %>
							<% elsif session[:part_type] == "Graphics Cards" %>
								<%= render :partial => "graphics", :locals => {:moboObj => @parts[i], :num => i} %>
							<% elsif session[:part_type] == "Hard Drives" %>
								<%= render :partial => "harddrive", :locals => {:moboObj => @parts[i], :num => i} %>
							<% elsif session[:part_type] == "Power Supplies" %>
								<%= render :partial => "powersupply", :locals => {:moboObj => @parts[i], :num => i} %>
							<% elsif session[:part_type] == "Memory" %>
								<%= render :partial => "memory", :locals => {:moboObj => @parts[i], :num => i} %>
							<% elsif session[:part_type] == "Cases" %>
								<%= render :partial => "case", :locals => {:moboObj => @parts[i], :num => i} %>
							<% else %>
								<%= render :partial => "display", :locals => {:moboObj => @parts[i], :num => i} %>
							<% end %>
						<% end %>
					<% else %>
						<% for i in (0..9) do %>
							<% if session[:part_type] == "Motherboards" %>
								<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
							<% elsif session[:part_type] == "Processors" %>
								<%= render :partial => "processor", :locals => {:cpuObj => @parts[i], :num => i} %>
							<% elsif session[:part_type] == "CPU Coolers" %>
								<%= render :partial => "coolers", :locals => {:coolerObj => @parts[i], :num => i} %>
							<% elsif session[:part_type] == "Disc Drives" %>
								<%= render :partial => "optical", :locals => {:moboObj => @parts[i], :num => i} %>
							<% elsif session[:part_type] == "Graphics Cards" %>
								<%= render :partial => "graphics", :locals => {:moboObj => @parts[i], :num => i} %>
							<% elsif session[:part_type] == "Hard Drives" %>
								<%= render :partial => "harddrive", :locals => {:moboObj => @parts[i], :num => i} %>
							<% elsif session[:part_type] == "Power Supplies" %>
								<%= render :partial => "powersupply", :locals => {:moboObj => @parts[i], :num => i} %>
							<% elsif session[:part_type] == "Memory" %>
								<%= render :partial => "memory", :locals => {:moboObj => @parts[i], :num => i} %>
							<% elsif session[:part_type] == "Cases" %>
								<%= render :partial => "case", :locals => {:moboObj => @parts[i], :num => i} %>
							<% else %>
								<%= render :partial => "display", :locals => {:moboObj => @parts[i], :num => i} %>
							<% end %>
						<% end %>
					<% end %>
				<% elsif session[:page_num] == session[:max] %>
					<% for i in (((session[:page_num]*10)-10)..@parts.length-1) do %>
						<% if session[:part_type] == "Motherboards" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Processors" %>
							<%= render :partial => "processor", :locals => {:cpuObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "CPU Coolers" %>
							<%= render :partial => "coolers", :locals => {:coolerObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Disc Drives" %>
							<%= render :partial => "optical", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Graphics Cards" %>
							<%= render :partial => "graphics", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Hard Drives" %>
							<%= render :partial => "harddrive", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Power Supplies" %>
							<%= render :partial => "powersupply", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Memory" %>
							<%= render :partial => "memory", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Cases" %>
							<%= render :partial => "case", :locals => {:moboObj => @parts[i], :num => i} %>
						<% else %>
							<%= render :partial => "display", :locals => {:moboObj => @parts[i], :num => i} %>
						<% end %>
					<% end %>
				<% else %>
					<% for i in (((session[:page_num]*10)-10)..((session[:page_num]*10)-1)) do %>
						<% if session[:part_type] == "Motherboards" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Processors" %>
							<%= render :partial => "processor", :locals => {:cpuObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "CPU Coolers" %>
							<%= render :partial => "coolers", :locals => {:coolerObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Disc Drives" %>
							<%= render :partial => "optical", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Graphics Cards" %>
							<%= render :partial => "graphics", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Hard Drives" %>
							<%= render :partial => "harddrive", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Power Supplies" %>
							<%= render :partial => "powersupply", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Memory" %>
							<%= render :partial => "memory", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Cases" %>
							<%= render :partial => "case", :locals => {:moboObj => @parts[i], :num => i} %>
						<% else %>
							<%= render :partial => "display", :locals => {:moboObj => @parts[i], :num => i} %>
						<% end %>
					<% end %>
				<% end %>
			</div>
			<div id="Page_nav">
			    <%= link_to_remote "Prev", :controller => :part_selection, :action => :previous %>
				<div id="Pages">
					<h4 align="center">
						<% for i in (1..session[:max]) %>
						    <% if session[:page_num] == i %>
							    <a style="color: #71D0CE; cursor: pointer;"><%= i %></a>
							<% else %>
						        <%= link_to i, :controller => :part_selection, :action => :jump, :num => i %>
							<% end %>
						<% end %>
					</h4>
				</div>
				<%= link_to "Next", :controller => :part_selection, :action => :next %>
			</div>
		</div>
	</div>
	<div id="Selected" class="side_tab">
		<%= render :partial => "selected_tab_ajax" %>
	<div>
</div>