<div id="Main">
	<div class="side_tab">
		<ul id="Sort_options" class="tab_options">
			<li id="Sort_tab" class="tab">
				<center><a class="sort_link tab_link" href="#">Sort Options</a></center>
			</li>
		</ul>
	</div>
	<div id="Back_cats">
		<center><%= link_to_remote "Back to Categories", :update => 'Main', :url => {:controller => :part_categories, :action => :current}, :class => "back_button" %></center>
	</div>
	<div id="Content">
		<div id="Parts">
			<div id="Part_nav">
				<%= link_to_remote "Prev", :update => 'Main', :url => {:controller => :part_selection, :action => :previous} %>
				<div id="Header">
					<h1 id="Part_heading" align="center"><%= session[:part_type] %></h1>
				</div>
				<%= link_to_remote "Next", :update => 'Main', :url => {:controller => :part_selection, :action => :next} %>
			</div>
			<div id="Parts_list">
				<% if session[:page_num] == 1 %>
					<% for i in (0..9) do %>
						<% if session[:part_type] == "Motherboards" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Processors" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "CPU Coolers" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Disc Drives" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Graphics Cards" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Hard Drives" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Power Supplies" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Memory" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Cases" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% else %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% end %>
					<% end %>
				<% elsif session[:page_num] == session[:max] %>
					<% for i in (((session[:page_num]*10)-10)..@parts.length-1) do %>
						<% if session[:part_type] == "Motherboards" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Processors" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "CPU Coolers" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Disc Drives" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Graphics Cards" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Hard Drives" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Power Supplies" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Memory" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Cases" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% else %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% end %>
					<% end %>
				<% else %>
					<% for i in (((session[:page_num]*10)-10)..((session[:page_num]*10)-1)) do %>
						<% if session[:part_type] == "Motherboards" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Processors" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "CPU Coolers" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Disc Drives" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Graphics Cards" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Hard Drives" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Power Supplies" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Memory" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% elsif session[:part_type] == "Cases" %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% else %>
							<%= render :partial => "motherboard", :locals => {:moboObj => @parts[i], :num => i} %>
						<% end %>
					<% end %>
				<% end %>
			</div>
			<div id="Page_nav">
			<%= link_to_remote "Prev", :update => 'Main', :url => {:controller => :part_selection, :action => :previous} %>
				<div id="Pages">
					<h4 align="center">
						<% for i in (1..session[:max]) %>
						<%= link_to_remote i, :update => 'Main', :url => {:controller => :part_selection, :action => :jump, :num => i} %>
						<% end %>
					</h4>
				</div>
				<%= link_to_remote "Next", :update => 'Parts_list', :url => {:controller => :part_selection, :action => :next} %>
			</div>
		</div>
	</div>
	<div class="side_tab">
		<ul id="Selected_options" class="tab_options">
			<li id="Selected_tab" class="tab">
				<center><button class="selected_link tab_link" href="" onclick="$('Selected_parts').toggle()">Selected Parts</button></center>
			</li>
			<li id="Selected_parts" class="side_menu" style="display: none">
				<% if session[:computer].motherboard %>
					render :partial => "itshere"
					<div class="part_in"><p><%= session[:computer].motherboard.manufacturer %></p><p><%= session[:computer].motherboard.model %></p></div><a class="part_option" href="#">Change</a>|<a class="part_option" href="#">Remove</a>
				<% end %>
				<% if session[:computer].cpu %>
				<% end %>
				<% if session[:computer].cpu_cooler %>
				<% end %>
				<% if session[:computer].power_supply %>
				<% end %>
				<% if !session[:computer].has_parts.empty? %>
					<% session[:computer].has_parts.each do |part| %>
						
					<% end %>
				<% end %>
			</li>
		</ul>
	<div>
</div>