<html>
    <head>
	    <title>PCBuilder</title>
		<%= stylesheet_link_tag "nav_body" %>
		<%= stylesheet_link_tag "category_smallboxes" %>
		<%= stylesheet_link_tag "selection" %>
		<%= javascript_include_tag :defaults %>
		<script>			
		    function getSpecs(specNum, arrow, leftSpan)
			{
			    $(specNum).toggle();
				var back = $(arrow).getStyle('backgroundImage');
				if(back.indexOf("arrow_up.png") != -1)
				{
				    $(arrow).setStyle({backgroundImage: 'url(../images/arrow_down.png)'});
					$(leftSpan).replace('<span id="'+leftSpan+'" style="color: white; font-size: small">Show</span>');
				}
				else
				{
				    $(arrow).setStyle({backgroundImage: 'url(../images/arrow_up.png)'});
					$(leftSpan).replace('<span id="'+leftSpan+'" style="color: white; font-size: small">Hide</span>');
				}
			}
		</script>
		<script>
		    /**
			 * RUZEE.Ellisis 0.1
			 * (c) 2007 Steffen Rusitschka
			 *
			 * RUZEE.Ellipsis is freely distributable under the terms of an MIT-style license.
			 * For details, see http://www.ruzee.com/
			 */

			(function() {
			  function ellipsis(e) {
				var w = e.getWidth() - 10000;
				var t = e.innerHTML;
				e.innerHTML = "<span>" + t + "</span>";
				e = e.down();
				while (t.length > 0 && e.getWidth() >= w) {
				  t = t.substr(0, t.length - 1);
				  e.innerHTML = t + "...";
				}
			  }
			  document.write('<style type="text/css">' +
				'.ellipsis { margin-right:-10000px; }</style>');
			  Event.observe(window, "load", function() {
				$$('.ellipsis').each(ellipsis);
			  });
			})();
		</script>
	</head>
	<body onresize="checkSize();">
		<div id="Center" class="container">
			<center>
			<div id="Bound">
				<div id="Nav">
					<%= render :partial => "navigation" %>
				</div>
			</div>
			</center>
			<%= yield %>
		</div>
	</body>
</html>
